// ion-content.background
// {
//     --background: url(../../assets/images/address.jpg) 0 0/100% 100% no-repeat;
// }
.addresstitle{
    text-align: center;
}
.row{
    margin-bottom: 5%; 
    border-bottom: 1px solid ghostwhite;
}
#firstrow{
    margin-top: 5%;
}
.inputfield{
    font-size:13px; 
    color: #101010;
}
.payment{
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    background-color: cornflowerblue;
    color: #fff;
}