<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="backarrow" slot="start">
      <ion-icon (click)="backToCart()"  name="chevron-back"></ion-icon>
    </ion-buttons>
  <ion-buttons class="addresstitle">
    <ion-title>Add Address</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<div style="width: 100%; height: 40%;">
<img style="width: 100%; height: 100%;" src="assets/images/address.jpg">
</div>
<div>
  <form > 
      
    <!--style="padding: 16px; height: 50%;" <ion-card> (ngSubmit)="onSubmit(myForm.value)"-->
      <ion-row class="row" id="firstrow">
      <ion-input class="inputfield" placeholder="Enter pin code"></ion-input  >
      </ion-row >
      <ion-row class="row">
        <ion-input class="inputfield" placeholder="Enter State"></ion-input >
        </ion-row >
        <ion-row class="row">
          <ion-input class="inputfield" placeholder="Enter City"></ion-input >
          </ion-row >
          <ion-row class="row">
            <ion-input class="inputfield"  placeholder="House/Flat/Block No."></ion-input >
            </ion-row >
            <ion-row class="row">
              <ion-input class="inputfield" placeholder="Landmark"></ion-input >
              </ion-row >
              <button class="payment">PROCEED TO PAY{{totalamount}}</button>
      </form>
    </div>
</ion-content>
