.contentDiv{
    background-color: #fafbfc;
    // font-size:13px; 
    // color: #a57b09; 
}

.cardtitle{
    font-size:13px; 
    color: #a57b09; 
    font-weight: 600;
    margin: 1% 2% 1% 2%;
}
.imgProductDiv{
    width: 340px;
    height: 200px;
}
.returnDiv, .productDetailDiv, .sizeDimension {
    background-color: #ffffff; 
    font-size:13px; 
    color: #a57b09; 
} 
.returnDiv h1{
    font-size: 13px;
    font-weight: 600;
    margin-left: 3%;

}
.productDetailDiv h1{
    font-size: 13px;
    font-weight: 600;
    margin-left: 3%;
} 
.returnDiv p {
    margin: -2% 1% 1% 3%;
}
.productDetailDiv p {
    margin: -2% 1% 2% 3%;
}
.productDetailDiv{
    
    margin-top: 2%;
}
.sizeDimension{
    margin-top: 2%;
}
.sizeDimension p{
    margin: -2% 1% 2% 3%;
}
.sizeDimension h1{
    font-size: 13px;
    font-weight: 600;
    margin-left: 3%;
}