
<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons class="backarrow" slot="start">
      <ion-icon (click)="backToCategory()"  name="chevron-back"></ion-icon>
    </ion-buttons>
    
    <ion-buttons slot="end">
    <ion-icon class="cart" (click)= "moveToCart()" name="cart"></ion-icon>
    
   </ion-buttons>
  

</ion-toolbar>

</ion-header>
<ion-content >
  <div class="contentDiv">
    
    <ion-slides pager="true" style="margin-top: 2%;">
      <ion-slide>
        <div class="imgProductDiv" > 
        <img style="width: 100%; height:200px"[src]="getImgContent(productData.image_medium)">
        </div>
      </ion-slide>  
      <ion-slide>
        <div class="imgProductDiv" > 
          <img style="width: 100%; height:200px"src="assets/images/5two.png">
        </div>
      </ion-slide>  
    </ion-slides>
    
    <ion-card >
      <ion-card-title class="cardtitle" >{{productData.name}}</ion-card-title>
      <ion-card-title class="cardtitle">{{productData.list_price}}</ion-card-title>
      <ion-icon class="star"style="margin-left: 2%" name="star"></ion-icon>
      <ion-icon class="star" name="star"></ion-icon>
      <ion-icon class="star" name="star"></ion-icon>
      <ion-icon class="halfstar" name="star-half"></ion-icon>
      <ion-icon name="star-outline" ></ion-icon>
      <ion-button style="
          width: 75px;height: 25px;
          float: right;
          margin: -3% 2% 3% 0%;
          " >Buy Now </ion-button>
        
    </ion-card>
  
    <div class="returnDiv">
        <h1 >30 days return and exchange policy</h1>
        <p >Easy returns and exchanges within 30 days. </p>
    </div>
    
    <div class="productDetailDiv" >
        <h1 >Product Details</h1>
        <p>This handcrafted piece is made from brass which is a sacred metal. It makes for a perfect HOUSE WARMING and a WEDDING RETURN gift.</p>
    </div >

    <div class="sizeDimension">
         <h1>Size & Dimensions</h1>
         <p >Height: 11.4 cm</p>
         <p>Length: 12.5 cm</p>
         <p> Width: 9 cm</p>
    </div>
 
  </div > <!--main div-->
</ion-content>
