
<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons class="backarrow" slot="start">
      <ion-icon (click)="backToHome()"  name="chevron-back"></ion-icon>
    </ion-buttons>
    <ion-title class="LoginTitle">Login</ion-title>
    <ion-buttons slot="end">
    <ion-icon class="cart"  name="cart"></ion-icon>
   </ion-buttons>
  

</ion-toolbar>

</ion-header>

<ion-content >
 <div class="container">
   <div class="formDiv">
    <form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)"> 
      
      <!--style="padding: 16px; height: 50%;" <ion-card> (ngSubmit)="onSubmit(myForm.value)"-->
        <ion-row style="background: #fff;margin-bottom: 5%;">
        <ion-icon style=" width: 22px; height:22px; margin: 2% 0 0 2%;" name="mail"></ion-icon>
        <ion-input style=" font-size:13px; color: #101010;" formControlName="username" placeholder="Email"></ion-input >
        </ion-row >
        <!-- </ion-card> -->
      
      <!-- <ion-card> -->
        <ion-row style="background: #fff;margin-bottom: 2%;">

        <ion-icon style=" width: 22px; height:22px;margin: 2% 0 0 2%;" name="key"></ion-icon>
        <ion-input class="input" style="font-size:13px; color: #101010;" formControlName="password" type="Password" placeholder="Password"></ion-input>
      </ion-row>
      <!-- </ion-card> -->
      <ion-row>
        <div style="
        font-size:13px;
          color: #fff;
          ">Forgot Password?</div>
      </ion-row>

    <div style="text-align: center;">
      <button type="submit" expand="full" class="submitBtn" >LOGIN</button>
    </div>
    <div class="signuplink" (click)="signup()">Not Register! SignUp Here</div> 
  </form>  
   </div>
 </div>
  </ion-content>
