.container{
    position:absolute;
    width: 100%;
    height: 100%;
   // border: 1px solid red;
    background-color: #101010;
    opacity: 0.9;
}
.formDiv{
    width: 80%;
    height: 50%;
   // border: 1px solid green; 
    margin-top: 20%;
    margin-left: 10%;
}


.LoginTitle{
    text-align: center;
}
 .divformstyle{
 height: 50%;
 width: 80%;
 }


.signuplink{
    color: #ffffff;
    
    font-size: 12px;
    letter-spacing: 0.3px;
    float: right;
    margin-top: 3% ;
}

.sc-ion-card-ios-h {
    margin-bottom: -24px;
    padding: 12px;
}
.submitBtn{
    width: 100%;
    padding: 10px;
      margin-top: 5%;

      background:#a57b09; // #007dc0;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 0.4px;
      font-size: 13px;
}