<!-- <ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline"></ion-icon>
    <ion-title>Categories</ion-title>
    <ion-icon class="cart" slot name="cart"></ion-icon>

  </ion-toolbar>
</ion-header> -->
<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons class="backarrow" slot="start">
      <ion-icon (click)="backhome()"  name="chevron-back"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center;">Gift Idea</ion-title>
    <ion-buttons class="search"> 
    <ion-icon class="searchicon" name="search"></ion-icon>
    </ion-buttons>
    
    <ion-buttons slot="end">
    <ion-icon class="cart" (click)= "moveToCart()" name="cart"></ion-icon>
   </ion-buttons>
   
   <!-- class="categorytitle" -->
</ion-toolbar>

</ion-header>

<ion-content>
  

  <ion-row class="selecteditem">
    <ion-col *ngFor="let productdetail of product"  size=6>
      <div style="width:100%; height:210px;">
        <div (click)="description(productdetail.id)">
        <img class="homeCard" [src]="getImgContent(productdetail.image_medium)">
        <ion-title color="primary" class="productName"> {{productdetail.name}}</ion-title>
        <ion-title class="productName">&#8377; {{productdetail.list_price}}</ion-title>
        <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
            <ion-icon class="star" name="star"></ion-icon>
            <ion-icon class="halfstar" name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
        <ion-button style="width: 50px;
        height: 20px;
        float: right;
        margin-top: auto;" (click)="addToCart(productdetail)" >ADD</ion-button>
      </div>
  </ion-col>
  
  </ion-row>  

</ion-content>
