.categorytitle{
    font-size: 18px;
    color:#a57b09;
    font-weight: 500;
    margin: 3% 1% 0% 1%;
}


.search{
    margin-left: 85%;
    margin-top: -22px;
}
.searchicon{   
    width: 20px;
    height: 20px;
}