<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="backarrow" slot="start">
      <ion-icon (click)="backhome()"  name="chevron-back"></ion-icon>
    </ion-buttons>
    <ion-buttons class="basketBtn" slot="start">
    <ion-icon class="basketIcon" name="basket"></ion-icon>
  </ion-buttons>
    <ion-title class="cartTitle">Your Cart</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
 <div *ngIf="!isRetrievedProduct">
  <div class="headdiv">
 <ion-label class="addeditem"> You have added {{ NumOfItem}} items</ion-label>
 <ion-label (click)="clearall()" class=" clear">Clear All</ion-label>
</div>
 <div class="maincontent" *ngFor="let item of RetrievedProduct,let i=index ">
   <ion-row class="itemInCart">
     <ion-col size=4>
       <img [src]="getImgContent(item.image_medium)">
      </ion-col>
      <ion-col size=8  >
        <div class="itemDetail">
        <p class="itemName">{{item.name}}</p>
        <p class="cartdetail"> &#8377;{{item.list_price*item.quantity}} </p>
        <ion-label class="cartdetail">Quantity:</ion-label>
         <!-- <ion-icon class="quantitIcon" name="add"></ion-icon>1<ion-icon class="quantitIcon" name="remove"></ion-icon>
        -->
        <p (click)="remove(item)" class="remove">Remove item</p>
        <div class="addRemoveDiv">
          <ion-icon *ngIf="item.quantity>1" (click)="minus(i)" class="removeIcon" name="remove"></ion-icon>
          <ion-label style="font-size: 13px; font-weight:600">{{item.quantity}}</ion-label >
          <ion-icon *ngIf="item.quantity<=10"(click)="plus(i)" class="addIcon" name="add"></ion-icon>
        </div>
      </div>
      </ion-col>
   </ion-row>
 </div>

<ion-row class="billing">
  <ion-col size=4>
   <ion-label class="totalAmount">Total Amount</ion-label>
  </ion-col>
  <ion-col size=8>
  <ion-label class="rupees"> &#8377; {{totalAmount}}</ion-label>
  </ion-col>
</ion-row >
<ion-row>
  <ion-col size=12>
    <button class="AddAddress" (click)="enterAddress(totalAmount)">ADD ADDRESS</button>
  </ion-col>
  <!-- <ion-col size=6>
    <button class="Select" style="background-color: cornflowerblue; color: white; padding: 10px;margin-right: 10%;
    width: 90%;">Select Address</button>
  </ion-col> -->
</ion-row>
</div>
<div *ngIf="isRetrievedProduct">

  <h1 style="text-align: center; font-size: 14px; font-weight: 600;">Decorate your home with Best</h1>
  <img style="width: 40%;
  height: 40%;
  margin: 1% 32% 1% 28%;" src="assets/icon/buy.png">
  <div style="text-align: center;">
  <p style="font-size: 13px; color: grey;">Your cart is empty.</p>
  <p style="font-size: 13px; color: grey;">Add something from the various category. </p>
</div>
<button class="AddNowBtn" (click)="categoryPage()"> ADD NOW</button>
</div>
</ion-content>
