.basketBtn{
    margin-left: 28%;
}
.basketIcon{
    width: 25px;
    height: 30px;
}
.cartdetail{
    color: darkslategray;
}
.cartTitle{
    margin-left: -1%;
}
.addeditem, .clear, .cartdetail, .remove, .itemName, .totalAmount, .rupees{
font-size: 13px;
}
.itemName{
    font-weight: 600;
}
.headdiv{
margin-top: 5%;
margin-bottom: 5%;
}
.addeditem{
    margin-left: 5%;
    font-weight: 600;
   // margin-top: 5%;
}
.clear{
    float: right;
     margin-right: 5%;
    //margin-top: 5%;
  
}
.remove, .clear{
    color: crimson;
}
.itemInCart{
    margin: 0% 5% 5% 5%;
}
.itemDetail{
    margin-top: -15px;
}
.removeIcon, .addIcon{
    background-color: cornflowerblue;
    width: 16px;
    height: 16px;
    color: white;
   // margin: 0% 3% 0 5%;

}
.removeIcon{
    margin-right: 5%;
}
.addIcon{
    margin-left: 5%;
}
.billing{
    
    margin: 0 5% 5% 5%;
}

// .checkoutBtn{
//     background-color: darkslategray;
//     color: #ffffff;
//     width: 90%;
//     margin:10% 5% 10% 5%;
//     height: 7%;
//     font-weight: 600;
// }
.rupees{
    color: black;
    font-weight: 700;
}
.totalAmount{
    color: black;
}
.addRemoveDiv{
    margin-left: 38%;
    margin-top: -28%;
}
.AddAddress{
    background-color:  cornflowerblue;
    padding: 10px; 
    color: #fff;
    margin-left: 5%;
    width: 90%;
}

.AddNowBtn{
    background-color:  cornflowerblue;
    color: #fff;
    width: 80%;
    margin: 10%;
    // margin-left: 10%;
    padding: 10px;
}