/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.swiper-pagination{
    position:initial !important;
}
.cart{
    
    margin-right:15px;
    width: 20px;
    height: 20px;
}
.selecteditem{
    margin-left: 5%;
    margin-right: 5%;
    height: 170px;
}
.homeCard{
    height: 100px;
    width: 100%;
}
.productName{
    font-size: 13px;
    color: #a57b09;
    margin-left: -12%;
}
.star, .halfstar{
    color: yellow;
}
.backarrow{
    margin-left: 5%;
}