//header..................................................
// .cart{
    
//     margin-right:15px;
//     width: 20px;
//     height: 20px;
// }

//.........................................................

//sale portion styling......................................
.imgSaleDiv{
    width:95%;height: 100px;
}
.saleImage{
    width: 95%;
}

.offers{
    position: absolute;
    bottom: 79%;
    left: 35%;
    right: 35%;
    font-size: 20px;
    font-weight: 800;
    color: chartreuse;
}

.orderBtn{
    position:absolute;
    bottom: 0px;
    left: 40%;
    right: 40%;
    width: 80px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
}

//............................................................

//Trending styling portion....................................


  .trendslides {
      height: 100px;
      width: 95%;
      margin-bottom: 5%;
  }
  .trendslide{
    margin-left: 3.5%;
    margin-right: 3.5%;   
    height: 100px;
}
.image{
    width: 100%;
    height:100px;
}

//................................................................

//Catagory portion.................................................
  .categorySlides{
      height: 120px;
      width: 360px;
      
  }
 

.categorySlide{
    margin-left: 3.5%;
    margin-right: 3.5%; 
    // height: 90px;
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    //width: 100%;
}

.categorylabel{
    color: blue;
    font-size: 12px;
}
  .swiper-slide {
   height:100px;
 }
 .TopCatimage{
    border-radius: 50%;
    width: 80px;
     height: 80px;

}

//........................................................................................
//   .swiper-slide h2 {
//     margin-top: 2.8rem;
//   }

//   .swiper-slide img {
//      height: 100%;
//      width: 100%;
//    // margin: 60px 0 40px;
//     pointer-events: none;
//   }
  //.swiper-wrapper{
 //     height: 100px;
  //}
// .offers{
//     border-radius: 50%;
//     background-color: red;
// }
  
.hometitle{
    margin: 0 25% 0 25%;
    
}
.menubar{
    margin-left: 1%;
}




ion-label, ion-card-subtitle, ion-card-title{
    font-size: 13px;
    color: #a57b09;
    font-weight: 600;
    margin-left: 5%;
}
ion-card-subtitle, 
ion-card-title {
    margin-top: 5%;
}

ion-card-content{
    margin: -7px 1px -7px -8px;
}
// .star, .halfstar{
//     color: yellow;
// }
// .selecteditem{
//     margin-left: 5%;
//     margin-right: 5%;
//     height: 170px;
// }
// .homeCard{
//     height: 100px;
//     width: 100%;
// }
// .productName{
//     font-size: 13px;
//     color: #a57b09;
//     margin-left: -12%;
// }