<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="menubar"></ion-menu-button>
    </ion-buttons>
  <ion-title class="hometitle">Elsdecor</ion-title>
  
   <ion-buttons slot="end">
    <ion-icon class="cart" (click)="moveToCart()" name="cart"></ion-icon>
   </ion-buttons>
  

</ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Search"></ion-searchbar>
  <ion-label>Sale</ion-label>
<ion-slides pager="true" >
  
  <ion-slide *ngFor= "let img of images">
    <div class="imgSaleDiv" > 
    <img  class="saleImage" [src]=img />
    <div class="offers">50% off</div>
    <ion-button class="orderBtn">order</ion-button>
    </div>
  </ion-slide>
</ion-slides>
 
   <ion-label>Trending</ion-label> 
   
   <ion-slides pager="true" class="trendslides"> 
    
    <ion-slide>
      <ion-row class="trendslide">
      <ion-col size=4>
     <img class="image" src="assets/images/3.png">
    </ion-col>
    <ion-col size=4>
      <img class="image" src="assets/images/5.png">
     </ion-col>
     <ion-col size=4>
      <img class="image" src="assets/images/10.png">
     </ion-col>
    </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row class="trendslide">
      <ion-col  size=4>
     <img class="image" src="assets/images/7.png">
    </ion-col>
    <ion-col size=4>
      <img class="image" src="assets/images/8.png">
     </ion-col>
     <ion-col size=4>
      <img class="image" src="assets/images/9.png">
     </ion-col>
    </ion-row>

    </ion-slide>
  </ion-slides>
      
  <ion-label >Top Categories</ion-label>
  <ion-grid>
      <ion-row  class="categorySlide" nowrap>
      <ion-col *ngFor=" let topCat of topCategory" (click)="category(topCat.id)" size=4 style="text-align: center;">
        
     <img class="TopCatimage" [src]="getImgContent(topCat.image_medium)"><br>
     <ion-label style="width: 82px; height: 14px;" class="categorylabel" >{{topCat.name}}</ion-label >
    </ion-col>
    
    <!-- <ion-col size=4>
      
      <img class="TopCatimage" src="assets/images/12.png">
      <ion-label class="categorylabel">Miscellaneous</ion-label>
     </ion-col>
     <ion-col size=4>
      <img  class="TopCatimage" src="assets/images/2.png">
      <ion-label class="categorylabel">Religious</ion-label>

     </ion-col> -->
    </ion-row>
    </ion-grid>

  

    

    <!-- <ion-slide>
      <ion-row class="categorySlide">
      <ion-col size=4>
     <img  class="TopCatimage" src="assets/images/7.png">
     <ion-label class="categorylabel">Religious</ion-label>
     
    </ion-col>
    <ion-col size=4>
      <img  class="TopCatimage" src="assets/images/8.png">
      <ion-label class="categorylabel">Non Religious</ion-label>

     </ion-col>
     <ion-col size=4>
      <img  class="TopCatimage" src="assets/images/9.png">
      <ion-label class="categorylabel"> Wall Art</ion-label>

     </ion-col> 
   </ion-row>

    </ion-slide>  -->
  


<!-- Recent view of product   -->
<ion-row class="selecteditem">
  <ion-col size=6>
    <div style="width:100%; height:210px;">
      <img class="homeCard" src="assets/images/5.png">
      <ion-title color="primary" class="productName"> Ganesha on khaat</ion-title>
      <ion-title class="productName">&#8377; 1,000.00</ion-title>
      <ion-icon class="star" name="star"></ion-icon>
        <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="halfstar" name="star-half"></ion-icon>
          <ion-icon name="star"></ion-icon>
      <ion-button style="width: 50px;
      height: 20px;
      float: right;
      margin-top: auto;">ADD</ion-button>
    </div>
</ion-col>

<ion-col size=6>
<div style="width: 100%; height:300px;">
  <img class="homeCard" src="assets/images/4.png">
  <ion-title color="primary" class="productName">Bells with Chain</ion-title>
      <ion-title class="productName">&#8377; 1,205.00</ion-title>
      <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="halfstar" name="star-half"></ion-icon>
          <ion-icon name="star"></ion-icon>
      <ion-button style="width: 50px;
      height: 20px;
      float: right;
      margin-top: auto;">ADD</ion-button>
</div>
</ion-col>
</ion-row> 
<ion-row class="selecteditem">
  <ion-col size=6>
    <div style="width:100%; height:210px;">
      <img class="homeCard" src="assets/images/7.png">
      <ion-title color="primary" class="productName"> Ganesha Urli Embellished</ion-title>
      <ion-title class="productName">&#8377; 30,000.00</ion-title>
      <ion-icon class="star" name="star"></ion-icon>
        <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="halfstar" name="star-half"></ion-icon>
          <ion-icon name="star"></ion-icon>
      <ion-button style="width: 50px;
      height: 20px;
      float: right;
      margin-top: auto;">ADD</ion-button>
    </div>
</ion-col>

<ion-col size=6>
<div style="width: 100%; height:210px;">
  <img class="homeCard" src="assets/images/8.png">
  <ion-title color="primary" class="productName"> Ganesha Swing</ion-title>
      <ion-title class="productName">&#8377; 3,000.00</ion-title>
      <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="star" name="star"></ion-icon>
          <ion-icon class="halfstar" name="star-half"></ion-icon>
          <ion-icon name="star"></ion-icon>
      <ion-button style="width: 50px;
      height: 20px;
      float: right;
      margin-top: auto;">ADD</ion-button>
</div>
</ion-col>
</ion-row>  
  
</ion-content>
